<HTML>
<HEAD><TITLE>Jenni and Tom's Gift List!</TITLE></HEAD>

<BODY>

<TABLE>

#for $gift in $giftdb
#if not $gift.claimed 
<TR>
<TD> $gift.name </TD> <TD> <A HREF=$gift.link>prchace link</A> </TD> 
<TD> 
<form method="post" action="/claim/$gift.name">
    <button type="submit">Claim</button>
</form>
</TD>
</TR>
#end if
#end for
</TABLE>

<BR>

#for $gift in $giftdb
#if $gift.claimed 
<TR>
<TD> $gift.name </TD> <TD> <A HREF=$gift.link>prchace link</A> </TD> <TD> $gift.claimdate </TD>
</TR>
#end if
#end for
</TABLE>



</BODY>
</HTML>
